on: [push, pull_request]

jobs:
  test:

    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 1

    - uses: dtolnay/rust-toolchain@nightly

    - run: cargo test --no-default-features

    - run: cargo test --all-features
